<!doctype html>
<title>{% block title %}{% endblock %} - Plotting</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Plotting</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
    {% else %}
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>



<!-- {% if g.source_identifiers %}
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
    <form method="post" id="select_plot">
{% for si in g.source_identifiers['source_paths'] %}
    <div class="w3-container w3-center w3-padding w3-light-grey" style="width:{{ g.width }}%; float: left">
    <b>{{ si[0] }}</b>
    <br />
      <select id="top5" name="top5" size="10" multiple form="select_plot">
{% for i in si[1] %}
        <option>{{ i }}</option>
{% endfor %}
      </select>
    </div>
{% endfor %}
    <div>
      <button type="submit"  class="w3-button w3-green">Plot</button>
    </div>
    </form>
    </div>
  </div>


  <div id="place_for_plots"></div>

  <script>
    //$(document).on('submit','#select_plot',function(e) {
    $("#select_plot").submit(function(e) {
        var form = $(this);
        // to not actually send the form via HTML POST
        e.preventDefault();
        $.ajax({
          url: "/plot/plots",
          type: "POST",
          data: form.serialize(),
          success: function(response) {
            //alert('saved');
            $("#place_for_plots").html(response);
          },
          error: function(xhr) {
            alert('problem');
          }
        });
    });
  </script>

{% endif %}


{% else %}
    <p>No sources</p>
{% endif %}
    </div>
  </div> -->
